# 必需：Polygon RPC 地址
RPC_URL=https://polygon-rpc.com

# 可选：Gamma API 地址（有默认值）
GAMMA_API_BASE=https://gamma-api.polymarket.com


# Turso 数据库

TURSO_DATABASE_URL=libsql://polyglass-wea1her.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Njk3ODc3MTcsImlkIjoiNDViYzZiN2EtNDVkMS00YTVkLTg1Y2EtYmM4OTI0ZGFmOTk2IiwicmlkIjoiOTgyNjM1MTYtY2NmYy00MTVlLWE0NmItYjIyMjQ3NGQ1NGQzIn0.YPnm8rh7yTL7pn7HcODgZ9iR8Lb9NuT71BU3Y9Z9vQnnyc2YjUbT1cNVy6HGuZ4sQ2-WxiicD4BEZ-t40EhxBQ